.example-box {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 20px;
  width: 70px;
  height:50px;
  text-justify: center;
}
.container {
  position: fixed; /* Change position to fixed */
  left: 50%; /* Position the container 50% from the left */
  top: 50%; /* Position the container 50% from the top */
  transform: translate(-50%, -50%);
  
   /* Center the container vertically and horizontally */
}

.table-container {
  position: relative; /* Change position to relative */
  max-height: 40%; /* Use viewport height instead of a percentage */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds the maximum height */
  transform: translateY(0%); /* Center the table vertically */
  
}

.cell-with-padding {
  padding: 20px; /* Adjust the padding as needed */
}

.td-with-padding {
  padding: 20px; /* Adjust the padding as needed */
}

/* Set a fixed height for the first row */
.first-row {
  min-height: 300px; /* Adjust height as needed */
}

/* Set a fixed width for each table cell */
td.droppable {
  width: 25%; /* Each column takes 25% of the table width */
  min-width: 100px; /* Adjust minimum width as needed */
}

.droppable {
  min-height: 100px; /* Adjust the height as needed */
  padding: 20px; /* Adjust the padding as needed */
}

.draggable, 
.droppable { 
  margin: 10px; 
}
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

