body {
    background-image:url(../../../assets/bac-4.jpg);
    width: 100%;
    height:617px;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 85vh; /* Make container full height */
}

.center-container {
    text-align: center; /* Center button contents */
}

/* Button Style 1 (Left Icons) */
.icon-btn{
    min-height:150px;
    background:#f5f5f5;
    float:left;
}

.icon-btn button{
    float:left;
    margin:10px;
}

.btn-gradient {    
    width:40%;
    position: relative;
    display: inline-block;
    left:-20px;
    background: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 60px;
    padding: 8px 24px 8px 16px;
    box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}

.btn-green{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #47a447;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-pink{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #f11350;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-facebook{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #5863db;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-instagram{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #cb31d7;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-twitter{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #58cadb;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-google{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #f06262;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-github{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #5a5a5a;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-behance{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #0069ff;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-dribbble{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #f0709f;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-linkedin{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #0074af;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-pinterest{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #c41f26;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-snapchat{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #fffc01;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:230px;
}

.btn-text{
    width:60%;
}

.btn-gradient i{
  font-size:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Button Style 2 (Normal) */
.normal-icon{
    min-height: 100px;
    line-height: 100px;
    background:#e8e8e8;
}

.normal-icon a{
    margin:20px;
    border-radius:0;
}

/* Button Style 3 (Radius) */
.radius-icon{
    min-height: 100px;
    line-height:100px;
    background:#f5f5f5;
}

.radius-icon a{
    margin:20px;
    border-radius: 20px;
    font-size: 13px;
    width: 150px;
    font-weight:bold;
}

.btn-purple{
    padding: 0.375rem 0.75rem;
    background: #d733da;
    color: #FFF;
}


/* Button Style 4 (Circle) */
.circle-btn{
    min-height: 100px;
    line-height: 100px;
    background:#e8e8e8;
}

.circle-btn button{
    margin:10px;
    border-radius: 50%;
    height:80px;
    width:80px;
    font-size: 15px;
}

/* Button Style 5 (Size) */
.rounded-btn{
    min-height: 100px;
    line-height:100px;
    background:#f5f5f5;
}

.rounded-btn button{
    border-radius:12px;
    margin:10px;
}

/* Button Style 6 (Hover) */
.hover-btn{
    min-height: 100px;
    line-height: 100px;
    background:#e8e8e8;
}

.hover-btn button{
   margin:10px; 
   color:#FFF;
   padding:10px 40px;
}

.hover-btn button:hover{
    background:#5a5a5a;
}

.btn-one{
   background: #f11350;
}

.btn-two{
   background: #5863db;
}

.btn-three{
   background: #c41f26;
}

.btn-four{
   background: #58cadb;
}

/* Line Style 7 (Line) */
.line-btn{
    min-height: 100px;
    line-height:100px;
    background:#f5f5f5;
}

.line-btn button{
   margin:10px; 
   color:#FFF;
   padding:5px 120px;
}


/* Line Style 8 (Left Icon) */

.radius-style button{
    border-radius:30px;
}

.radius-btn{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}



