<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="center-container" style="margin-bottom: 90px;margin-right: 900px;"> <!-- New container for centering -->
            <button class="btn-pink" *ngFor="let unite of unites" [routerLink]="'/unite/' + unite.id" style="margin: 30px;width: 400px;height: 100px;">
                <span class="btn-gradient">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
                <span class="btn-text">Unité {{ unite.id }}</span>
            </button>
        </div>
    </div>
</body>
</html>
    

