.button-container {
    position: absolute;
    right: 95%;
    top: 90%;
    transform: translate(50%, -50%);
  }
  
  .button-container button {
    background: none;
    border: none;
    cursor: pointer;
  }